@font-face {
  font-family: 'ciutadella';
  src: url('./fonts/CiutadellaSlabDEMO-Rg/font.woff2') format('woff2'), url('./fonts/CiutadellaSlabDEMO-Rg/font.woff') format('woff');
}

@font-face {
  font-family: 'nexa';
  src: local('nexa'), url(./fonts/Nexa-Font/NexaRegular.otf) format('opentype');
}

:root {
  --background-color: rgb(27, 27, 27);
  --accent-color: #d4af37;
  --text-color: whitesmoke;
}

/* dark mode */
body, main {
  background-color: var(--background-color) !important;
  font-family: 'nexa' !important;
  color: var(--text-color) !important;
}

.navbar-css {
  border-bottom: 1px solid var(--accent-color) !important; 
}

.nav {
  color: var(--text-color) !important;
}

.nav:focus, .nav:hover {
  color: var(--accent-color) !important;
}

.title {
  color: var(--text-color) !important;
  font-size: 6rem !important;
}

.title span {
  color: var(--accent-color) !important;
  text-shadow: 0 0 10px var(--accent-color);
  font-family: 'ciutadella';
  font-style: italic;
}

.form-css {
  font-family: 'nexa' !important;
  color: var(--text-color) !important;
}

footer {
  color: var(--text-color);
}

/* light mode */
body.light, main.light {
  background-color: var(--text-color) !important;
  font-family: 'nexa' !important;
  color: var(--background-color) !important;
}

.navbar-css-light {
  border-bottom: 1px solid var(--accent-color) !important; 
}

.nav-light {
  color: var(--background-color) !important;
}

.nav-light:focus, .nav-light:hover {
  color: var(--accent-color) !important;
}

.title-light {
  color: var(--background-color) !important;
  font-size: 6rem !important;
}

.title-light span {
  color: var(--accent-color) !important;
  text-shadow: 0 0 10px var(--accent-color);
  font-family: 'ciutadella';
  font-style: italic;
}

.form-css-light {
  font-family: 'nexa' !important;
  color: var(--background-color) !important;
}
/* utilities */
/* .btn:focus {
  outline: none !important;
  outline-offset: none !important;
} */
/* end utilities */

/* general styles */

* {
  box-sizing: border-box;
}

footer.light {
  color: var(--background-color);
}

main {
  min-height: 80vh;
}

/* end general styles */

/* Carousel Component */
.carousel-control-next, .carousel-control-prev {
  background-color: black !important;
  opacity: .1 !important;
}
/* end Carousel Component */



