/* animations and keyframes */
@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0)
  }

  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg)
  }
}

@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0)
  }

  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg)
  }
}

.flip {
  animation-name: flip-horizontal-bottom;
  animation-duration: .5s;
  animation-iteration-count: 1;
}
/* end animations and keyframes */

/* utilities */
/* .btn:focus {
  outline: none !important;
  outline-offset: none !important;
} */
/* end utilities */

/* general styles */
* {
  box-sizing: border-box;
}

body {
  background-color: azure;
}

main {
  min-height: 80vh;
}

/* end general styles */

/* Carousel Component */
.carousel-control-next, .carousel-control-prev {
  background-color: black !important;
  opacity: .1 !important;
}
/* end Carousel Component */



